<form class="emp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" [(ngModel)]="employeeService.selectedEmployee.EmployeID" [ngModelOptions]="{standalone: true}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="FirstName" #FirstName="ngModel"
             [(ngModel)]="employeeService.selectedEmployee.FirstName" placeholder="FirstName" required>
      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field required</div>
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="LastName" #LastName="ngModel"
             [(ngModel)]="employeeService.selectedEmployee.LastName" placeholder="LastName" required>
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="Position" #Position="ngModel"
           [(ngModel)]="employeeService.selectedEmployee.Position" placeholder="Position" required>
    <div class="validation-error" *ngIf="Position.invalid && Position.touched">This field required</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="EmpCode" #EmpCode="ngModel"
             [(ngModel)]="employeeService.selectedEmployee.EmpCode" placeholder="EmpCode" required>
      <div class="validation-error" *ngIf="EmpCode.invalid && EmpCode.touched">This field required</div>
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="Office" #Office="ngModel"
             [(ngModel)]="employeeService.selectedEmployee.Office" placeholder="Office" required>
      <div class="validation-error" *ngIf="Office.invalid && Office.touched">This field required</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)"><i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
